<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<string>https://apple.com</string>
	<key>usesFeatures</key>
	<true/>
	<key>BundleIdentifier</key>
	<string>com.samguichelaar.ClassicOSX</string>
	<key>DisplayName</key>
	<string>ClassicOSX</string>
	<key>Author</key>
	<string>Apple</string>
	<key>Version</key>
	<string>1.0.0</string>
</dict>
</plist>
